.tabs {
  &-container {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
  }
  &-buttons {
    display: flex;
    background-color: white;
    width: 101px;
    padding: 10px 0;
    justify-content: space-between;

  }
}

.tab {
  &-album,
  &-download-photo {
    width: 50px;
    height: 50px;
    display: flex;
    background-color: white;
    border-radius: 4px;
    outline: none;
    cursor: pointer;
    background-color: #7b8cf1;
    background-repeat: no-repeat;
    background-position: center;
  }
  &-album {
    background-image: url(../../assets/album.svg);
  }
  &-download-photo {
    background-image: url(../../assets/upload.svg);
  }
}
