.album-card {
    &__container {
      display: flex;
      background-color: grey;
      width: 300px;
      margin-bottom: 10px;
      cursor: pointer;
        &:last-child{
          margin-bottom: 0;
        }
    }
    &__image{
      display: block;
      width: 150px;
      height: 125px;
    }
  margin-bottom: 100px;
}
