.photos {
  &-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
  }
  &__card {
    position: relative;
    cursor: pointer;
    &-image {
      width: 140px;
      height: 120px;
      margin-right: 20px;
    }
    &-description{
      display: flex;
      position: absolute;
      width: 200px;
      overflow-wrap: break-word;
      flex-direction: column;
      margin-right: 200px;
      z-index: 1;
      background: rgba(57, 145, 204, 0.8);
    }
    
  }
  &-card{
    &__choosed-top{
      width: 50%;
      display: flex;
      justify-content: space-between;
    }
  }
}
